@model Lesson11.Models.Sale

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>
<h1>Create</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success mr-auto">
                    <i class="fa fa-plus"></i> Create
                </button>
                <a asp-action="Index">
                    <div class="btn btn-outline-info">
                        Back To List
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
