<form asp-controller="Supplies" asp-action="Index">
    <p>
        Search by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="d-flex justify-content-between">
        <div class="align-self-end">
            <form class="mt-3" asp-controller="sales" method="get" asp-action="Index">
                <p>
                    <select id="select" asp-items="@ViewBag.Suppliers">
                        <option selected="true" disabled="disabled">
                            Выбрать Поставщика
                        </option>
                    </select>
                </p>
            </form>
        </div>

        <div class="align-self-end mb-3">
            <a class="btn btn-success " asp-action="Create">
                Create Supply
            </a>
        </div>
    </div>

    <div class="px-4 pb-4">
        <ejs-grid id="products-list"
                  dataSource="@ViewBag.Supplies"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="Sale Date" field="SupplyDate" typeof="text"></e-grid-column>
                <e-grid-column headerText="SupplierId" field="Supplier.FirstName" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


