<form asp-controller="Products" asp-action="Index">
    <div class="d-flex m-3">
        <p>
            <div class="col-xs-4 col-sm-4 col-lg-4">
                <ejs-textbox id="outlined" 
                            cssClass="e-outline" 
                            placeholder="Search products..." 
                            name="searchString"
                            floatLabelType="Auto"
                value="@ViewBag.SearchString"></ejs-textbox>
            </div>
            <input type="submit" value="Search" />

            <form asp-controller="products" method="get" asp-action="Index">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <ejs-dropdownlist id="category" dataSource="@ViewBag.Categories"
                                      placeholder="Select Category" allowFiltering="true" name="categoryId" value="@ViewBag.SelectedCategory">
                        <e-dropdownlist-fields value="Id" text="Name"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </div>
            </form>
        </p>
        
        <div>
            <a class="btn btn-success " asp-action="Create">
                Create Product
            </a>
        </div>
    </div>
</form>
<div class="row">
    <div class="px-4 pb-4">
        <ejs-grid id="products-list"
                  dataSource="@ViewBag.Products"
                  gridLines="Vertical" allowPaging="true"
                  allowSorting="true">
            <e-grid-pagesettings pageSize="15"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="Name" field="Name" typeof="text"></e-grid-column>
                <e-grid-column headerText="Description" field="Description" typeof="text"></e-grid-column>
                <e-grid-column headerText="Sale Price" field="SalePrice" typeof="text"></e-grid-column>
                <e-grid-column headerText="Supply Price" field="SupplyPrice" typeof="text"></e-grid-column>
                <e-grid-column headerText="CategoryId" field="CategoryId" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


