@model Lesson11.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>
<!-- Navigation link -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item"><a href="/Categories/index">Categories List</a></li>
        <li class="breadcrumb-item"><a href="/Categories/details/@Model.Id">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<hr class="align-items-baseline" style="margin-top: 100px" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <!-- Buttons -->
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Back
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
