<form asp-controller="Categories" asp-action="Index">
    <p>
        Search by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="d-flex justify-content-between">
        <div class="align-self-end mb-3">
            <a class="btn btn-success " asp-action="Create">
                Create Category
            </a>
        </div>
    </div>

    <div class="px-4 pb-4">
        <ejs-grid id="categories-list"
                  dataSource="@ViewBag.Categories"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="Category Name" field="Name" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>