@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item"><a href="/Suppliers/index">Suppliers List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Upload</li>
    </ol>
</nav>


<div style="margin-top: 90px;">
    <h1>Upload suppliers</h1>
    <form asp-action="upload" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" id="formFile" name="file" accept=".xls, .xlsx" />
        <button class="btn btn-success " type="submit">
            Save Data
        </button>
    </form>

    <div>
        <ejs-grid id="suppliers-list"
                  dataSource="@ViewBag.Suppliers"
                  gridLines="Vertical"
                  toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" load="load">
            <e-grid-editsettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal">
            </e-grid-editsettings>
            <e-grid-columns>
                <e-grid-column headerText="First Name" field="FirstName" typeof="text" class="supplier-firstname"></e-grid-column>
                <e-grid-column headerText="Last Name" field="LastName" typeof="text" class="supplier-lastname"></e-grid-column>
                <e-grid-column headerText="Phonenumber" field="PhoneNumber" typeof="text" class="phone-number"></e-grid-column>
                <e-grid-column headerText="Company" field="Company" typeof="text" class="company-name"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    <script>
        function load(args) {
            this.columns[0].validationRules = { required: true, minLength: [nameValidation, 'First name should be at least 3 letters'] };
            this.columns[1].validationRules = { required: true, minLength: [nameValidation, 'Last name should be at least 3 letters'] };
            this.columns[2].validationRules = { required: true, format: [phoneValidation, 'Phone number should have following format: +998 ## ###-##-##'] };
            this.columns[3].validationRules = { required: true, minLength: [nameValidation, ' Company name should be at least 3 letters'] };
        }

        function nameValidation(args) {
            return args['value'].length >= 3;
        };

        function phoneValidation(args) {
            const phone = args['value'].toString();

            if (!phone.startsWith('+')) {
                return false;
            }

            if (phone.length > 13) {
                return false;
            }

            return true;
        };

        // TODO: Get custom error message using method
        // function getPhoneValidationError(args) {
        //     const phone = args['value'].toString();

        //     if (!phone.startsWith('+')) {
        //         return 'Phone number should start with: "+"';
        //     }

        //     if (phone.length > 13) {
        //         return "Phone number must have 13 numbers.";
        //     }

        //     return "";
        // }
    </script>

</div>
