<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diyor Market</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let doctitle = document.title;

            document.addEventListener("visibilitychange", function () {
                if (document.visibilityState === 'hidden') {
                    document.title = "Come Back 🥹";
                } else {
                    document.title = doctitle;
                }
            });
        });
    </script>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lesson11.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Bell.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="~/js/LotOut.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">
    <partial name="_Sidebar" />

    <div class="dock-target">

        <nav class="navbar sticky-top">
            <div class="container-fluid py-2 px-4 d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <a href="/dashboard">
                            <i class="fa-solid fa-home"></i>
                        </a>
                        <a href="#" class="current-page-link"></a>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <div class="icon-container">
                            <i class="fa-solid fa-bell icon"></i>
                        </div>
                        <a href="https://t.me/SUPERMARKET_13">
                            <i class="fa-solid fa-message" style="color: white"></i>
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #12161d; border-color: #12161d;">
                                <i class="fa-solid fa-user" style="background-color: #12161d; color: white;"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" style="color: red" href="@Url.Action("Index", "Auth")">Log out</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </nav>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var currentPageLink = document.querySelector('.current-page-link');
                var currentPath = window.location.pathname;
                if (currentPath !== "/dashboard" && currentPath !== "/Dashboard") {
                    currentPageLink.textContent = currentPath;
                    currentPageLink.href = currentPath;
                }
            });
        </script>

        <div class="main-content">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>