@model Lesson11.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We are The Lotus Team</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .d-flex.align-items-center.justify-content-center.pt-3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .me-2 {
            order: 1;
            font-size: 19px; /* Уменьшаем размер шрифта */
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .buttons {
            margin: 10%;
            text-align: center;
        }

        .btn-hover {
            width: 150px; /* Уменьшаем ширину кнопки */
            font-size: 14px; /* Уменьшаем размер шрифта */
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 45px; /* Уменьшаем высоту кнопки */
            text-align: center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

            .btn-hover:hover {
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }

            .btn-hover:focus {
                outline: none;
            }

            .btn-hover.color-6 {
                background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
                box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
            }

            .btn-hover.color-9 {
                background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
                box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
                order: 2;
            }

        .input-validation-error {
            border-color: #dc3545 !important;
            box-shadow: 0 0 10px rgba(220, 53, 69, 0.5) !important;
        }

        .text-danger {
            font-size: 12px;
            position: relative;
            top: -10px;
        }

        body {
            background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('your-background-image.jpg') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #fff;
        }

        .card {
            opacity: 0.9;
            background: linear-gradient(to bottom right, rgba(255,255,255,0.9), rgba(255,255,255,0.5));
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
        }

        .logo {
            width: 150px;
            margin-bottom: 20px;
        }

        h4 {
            margin-bottom: 20px;
        }

        .card-body {
            padding: 40px 60px;
        }

        .form-outline {
            margin-bottom: 20px;
        }

        .input-group-text {
            cursor: pointer;
        }

        .btn-primary {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
            transition: all 0.3s ease;
        }

            .btn-primary:hover {
                background-color: rgba(255, 255, 255, 0.5);
                color: #000;
            }

        .btn-outline-danger {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
            transition: all 0.3s ease;
        }

            .btn-outline-danger:hover {
                background-color: rgba(255, 255, 255, 0.5);
                color: #000;
            }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-6">
                    <div class="card text-black">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                     style="width: 150px;" alt="logo">
                                <h4 class="mt-1 mb-4">We are The Lotus Team</h4>
                            </div>
                            <form asp-action="Register" method="post">
                                <div class="form-group">
                                    <input type="text" asp-for="FullName" class="form-control"
                                           placeholder="Enter your name" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" asp-for="Login" class="form-control"
                                           placeholder="Enter login" />
                                    <span asp-validation-for="Login" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" asp-for="Phone" class="form-control"
                                           placeholder="Enter your phone" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Password" class="form-control"
                                           placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="RepeatPassword" class="form-control"
                                           placeholder="Repeat Password" />
                                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-hover color-6">Register</button>
                                </div>
                            </form>
                            <div class="text-center">
                                @* <p class="me-2" style="display: inline-block;">Back to Login!</p> *@
                                <a href="@Url.Action("Index", "Auth")" class="btn btn-secondary btn-hover color-9" style="display: flex; align-items: center; justify-content: center;">Back to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function togglePasswordVisibility(passwordId, iconId) {
            var passwordInput = $("#" + passwordId);
            var passwordIcon = $("#" + iconId);

            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                passwordIcon.removeClass("fa-eye-slash").addClass("fa-eye");

                passwordInput.removeClass("input-validation-error");
                $("span[data-valmsg-for='" + passwordId + "']").empty();
            } else {
                passwordInput.attr("type", "password");
                passwordIcon.removeClass("fa-eye").addClass("fa-eye-slash");
            }
        }
    </script>
</body>
</html>
