@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

    a:hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }

    a span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
    }

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    50%, 100% {
        transform: translateX(100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    50%, 100% {
        transform: translateY(100%);
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    50%, 100% {
        transform: translateX(-100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    50%, 100% {
        transform: translateY(-100%);
    }
}
