@model Lesson11.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item"><a href="/Customers/index">Customers List</a></li>
        <li class="breadcrumb-item"><a href="/Customers/details/@Model.Id">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>

<hr class="align-items-baseline" style="margin-top: 100px" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="firstName" class="control-label">Name</label>
                <input type="text" id="firstName" value="@Model.FullName.Split(' ')[0]" name="firstName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="lastName" class="control-label">Last Name</label>
                <input type="text" id="lastName" name="lastName" value="@Model.FullName.Split(' ')[1]" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" value="@Model.PhoneNumber" class="form-control" />
            </div>
            <!-- Buttons -->
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Back
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

