@model Lesson11.Models.Customer

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>
<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="firstName" class="control-label">Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="lastName" class="control-label">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" />
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-create">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Save
    </button>
    <a asp-action="Index" class="btn btn-create btn-back">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Back to List
    </a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

