@{
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item"><a href="/Customers/index">Customers List</a></li>
        <li class="breadcrumb-item"><a href="/Customers/details">Details / History</a></li>
        <li class="breadcrumb-item active" aria-current="page">SaleItems Details</li>
    </ol>
</nav>

<div  style="margin-top: 90px;">
    <div class="d-flex flex-row mt-3 mb-2 flex-row-reverse" style="gap: 10px;">
        <a class="btn btn-outline-info" asp-action="download">
            <i class="fa-solid fa-download"></i> Download
        </a>
    </div>
    <div class="col-12">
        <ejs-grid id="customers-list"
                  dataSource="@ViewBag.SalesSaleItems"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Product" field="Product.Name" typeof="text"></e-grid-column>
                <e-grid-column headerText="Quantity" field="Quantity" typeof="text"></e-grid-column>
                <e-grid-column headerText="Unit Price" field="UnitPrice" format="C2" typeof="text"></e-grid-column>
                <e-grid-column headerText="Total Price" field="TotalPrice" format="C2" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>