<form asp-controller="Customers" asp-action="Index">
    <p>
        Search by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="d-flex justify-content-between">
        <div class="align-self-end mb-3">
            <a class="btn btn-success " asp-action="Create">
                Create Customer
            </a>
        </div>
    </div>


    <div class="px-4 pb-4">
        <ejs-grid id="categories-list"
                  dataSource="@ViewBag.Customers"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" template="#template"  typeof="text"></e-grid-column>
                <e-grid-column headerText="FullName" field="FullName"  typeof="text"></e-grid-column>
                <e-grid-column headerText="Phonenumber" field="PhoneNumber" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="customers/Details/${Id}">${Id}</a>
    </div>
</script>